<!DOCTYPE html>
<html>
    <head>
        <title>テンプレート</title>
        <meta charset="utf-8" />
        <meta name="author" content="mathphilia" />
        <meta name="theme-color" content="#5D5" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:description" content="テンプレート用のHTMLです。何もありません。" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="ガラクタ置き場" />
        <meta property="og:title" content="テンプレート" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://mathphilia.github.io/jankyard/template/" />
        <link rel="stylesheet" href="../common.css" />
        <link rel="icon" href="https://avatars.githubusercontent.com/u/104004553" />
    </head>
    <body>
        <a class="top" href="../">back to top</a>
    </body>
</html>