@charset "utf-8";

#container {
    margin: 1em 0;
}

button, textarea {
    font-family: Consolas;
}

body > div:not(#container) {
    min-height: 10em;
    width: 70%;
}

textarea {
    height: 100%;
    width: 100%;
}