@charset "utf-8";

@media screen and (max-width: 400px) {
    body {
        font-size: 0.75rem;
    }
}

center {
    margin: 0;
    padding: 0;
}

canvas {
    max-width: 96vw;
    max-height: calc(96vh - 4em);
}